<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010380121613-7irtdntjfk923mlu91kvas1vi9opd1sd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010380121613-7irtdntjfk923mlu91kvas1vi9opd1sd</string>
	<key>API_KEY</key>
	<string>AIzaSyDIu_rP3hR3_YiZpDcBwTUs1_rBUdL_suc</string>
	<key>GCM_SENDER_ID</key>
	<string>1010380121613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petdopter.petdopter</string>
	<key>PROJECT_ID</key>
	<string>petdopter</string>
	<key>STORAGE_BUCKET</key>
	<string>petdopter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010380121613:ios:e69e9851be2d684b88d744</string>
</dict>
</plist>